<html>

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../resources/library/css/bootstrap.min.css" rel="stylesheet" media="screen">
	<link href="../resources/library/css/styles.css" rel="stylesheet">
</head>

<body>
	<div class="navbar navbar-inverse navbar-static-top">
  		<div class="container">
  			<div class="navbar-header">
  				<button type="button" class="navbar-toggle"
  					data-toggle="collapse" data-target=".navbar-collapse">
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  					<span class="icon-bar"></span>
  				</button>
  				<a class="navbar-brand" href="#">Our Project</a>
  			</div>
  			<div class="navbar-collapse collapse">
  				<ul class="nav navbar-nav ">
  					<li class="active"><a href="#">Home</a></li>
  					<li><a href="#">Profile</a></li>
  					<li><a href="#">Messages</a></li>
				</ul>
			</div>
		</div>
	</div>
	
	<div class="container">
		<h1> Hello World </h1>
		<p> Testing</p>
		<button class="btn btn-primary"> Bootstrap here? </button>
	</div>
	
	
	<script src="../resources/library/js/jquery.js"></script>
    <script src="../resources/library/js/bootstrap.min.js"></script>
</body>

</html>