h1{
	margin-top:10%;
	font-size: 225%;
	margin-left: auto;
	margin-right: auto;
	text-align: center;

}
#pic-container{
	width: 350px;
}

#signin-container{

	margin-left: auto;
	margin-right: auto;
	width: 400px;
	height: 400px;
	padding-top: 55px;
	padding-bottom: 55px;
	padding-right:25px;
	padding-left:25px;
	background-color:#FFFFFF ;
}
#signin-container{
	margin-top: 0%;
}
input[type=text], input[type=password]{
	margin-top: 5%;
}

input[type=password], input[type=submit]{
        margin-top: 5%;
}
	

fieldset{
	border: 0;
}


